@use "/src/scss/common/variables" as *;
@use "/src/scss/common/mixins" as *;

.header {
  margin: 1.5rem 1rem;

  @include tablet {
    margin: 1.5rem 1.5rem 2rem 1.5rem;
  }

  @include desktop {
    margin: 0 0 8px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
}
