@use "/src/scss/common/variables" as *;
@use "/src/scss/common/mixins" as *;

.feedback,
.callback {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
  background: $color-white;
  position: fixed;
  z-index: 11;
  right: -100%;
  top: 0;
  width: 100%;
  min-height: 100%;
  transition: right $transition;
  padding: 24px 16px;
  box-shadow: $shadow-modal;

  &.clicked {
    right: 0;
  }

  &__burger {
    background: transparent;
    align-self: start;
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.6px;

    &::before {
      content: "";
      display: inline-block;
      width: 3px;
      min-height: 40px;
      position: absolute;
      left: 0;
      background-color: $color-light-green;
      border-radius: 0 2px 2px 0;
    }
  }

  @include tablet {
    width: 440px;
    padding: 40px 32px;

    &__burger {
      position: absolute;
      right: 473px;
    }
  }
}

#feedbackForm,
#callbackForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  width: 100%;
  height: 48px;
  border: 1px solid $color-light-gray;
  font-family: "TT Lakes";
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 12px 1rem;
}

textarea {
  height: 118px;
}

.personalDataConsent {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: $color-gray;
}

.personalDataConsent a {
  color: $color-pink;
}