@use "/src/scss/common/variables" as *;
@use "/src/scss/common/mixins" as *;

.repairBrands {
  &__slideMenu {
    &_brands {
      padding: 1rem 0 1rem 1rem;
      @include grid-auto;
      grid-template: 72px / repeat(11, 240px);
    }

    &_btn {
      width: 40px;
      height: 40px;
      text-decoration: none;
      border: 2px solid #ff3e79;
      border-radius: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include tablet {
      &_brands {
        grid-template: repeat(2, 72px) / repeat(3, 224px);
        grid-gap: 1rem 1.5rem;
        padding: 0;
        justify-content: center;

        &.show-all {
          grid-template: repeat(4, 72px) / repeat(3, 224px);
        }
      }

      &_viewSonic {
        order: 1;
      }

      &_services {
        grid-template: 160px / repeat(3, 224px);
      }
    }

    @include desktop {
      &_brands {
        grid-template: repeat(2, 72px) / repeat(4, 240px);
        grid-gap: 1rem 2rem;

        &.show-all {
          grid-template: repeat(3, 72px) / repeat(4, 240px);
        }
      }

      &_viewSonic,
      &_sony {
        order: 0;
        display: flex;
      }
    }
  }
}
