@forward "/public/fonts/fonts";
@forward "common/none";
@forward "common/base";

@forward "common/buttons";
@forward "blocks/containerFog";
@forward "blocks/container";
@forward "blocks/header";
@forward "blocks/upperMenu";
@forward "blocks/sideBlock";
@forward "blocks/title";
@forward "blocks/nav";
@forward "blocks/slideMenu";
@forward "blocks/swipers";
@forward "common/hidden";
@forward "blocks/repairTypes";
@forward "blocks/repairBrands";
@forward "blocks/repairPrices";
@forward "blocks/content";
@forward "blocks/txt";
@forward "blocks/showAll";
@forward "blocks/main";
@forward "blocks/footer";

@forward "blocks/modal";
